{% extends 'head_footer.html' %}
{% block content %}
  {% for news in page_obj.object_list %}
    {% include "news.html" with news=news %}
  {% endfor %}
  <div class="row" style="justify-content: flex-start; display: flex; flex-wrap: wrap;">
      {% if page_obj.has_previous %}
        <a style="margin: 2px;" href="{% url 'news:news-list' 1 %}"><button>&laquo; first</button></a>
        <a style="margin: 2px;" href="{% url 'news:news-list' page_obj.previous_page_number %}"><button>previous</button></a>
      {% endif %}

      <button style="margin: 2px;" class="button-primary">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</button>

      {% if page_obj.has_next %}
          <a style="margin: 2px;" href="{% url 'news:news-list' page_obj.next_page_number %}"><button>next</button></a>
          <a style="margin: 2px;" href="{% url 'news:news-list' page_obj.paginator.num_pages %}"><button>last &raquo;</button></a>
      {% endif %}
  </div>
{% endblock %}
